@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    background-color: #151515;
    color: white;
    margin: 0;
    padding: 0;
  }

  .c1 {
    background: #C6FFDD;
    background: linear-gradient(to right, #C6FFDD 0%, #FBD786 50%, #f7797d 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
  }